<main>
  <div class="container">
    <div class="genres">
      <div *ngFor="let genre of genres" class="text-center">
        <label>
          <mat-checkbox [(ngModel)]="genre.checked">{{ genre.name }}</mat-checkbox>
        </label >      
      </div>   
      <div>
        <button mat-raised-button color="primary" (click)="onSearchClick()">Search</button>
      </div> 
    </div>

    <hr> 

    <mat-button-toggle-group *ngIf="totalPages">
      <button mat-stroked-button (click)="onSearchClick(1)">Начало</button>
      <mat-button-toggle *ngFor="let b of fill(totalPages)" (click)="onSearchClick(b+1)">{{ b + 1 }}</mat-button-toggle>
      <span *ngIf="current <= totalPages - 3">...</span>
      <mat-button-toggle *ngIf="current <= totalPages - 3" (click)="onSearchClick(totalPages)">{{ totalPages }}</mat-button-toggle>
    </mat-button-toggle-group>
    
    <div class="cards" *ngIf="totalPages; else void">
      <mat-card *ngFor="let x of films" class="card">
        <div class="image" (click)="openDialog(x.id)">
          <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2{{ x!.posterPath }}" class="card-img">
        </div>
        <div class="text">
          <mat-card-header>
            <mat-card-title>{{ x!.title }}</mat-card-title>
            <mat-card-subtitle>{{ x!.releaseDate | date: 'longDate'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ x!.overview | ellipsis }}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>

    <ng-template #void> <h1>Пуcтота...</h1> </ng-template>
  </div>
</main>