.container { 
  padding: 0 10%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "image text";
  box-shadow: none;
}

.image {
  grid-area: image;
}

.text {
  grid-area: text;
  padding-top: 8px;
}

.text-center {
  display: inline-block;
  text-align: center;
}

.genres label {
  width: 50px;
  margin: 0;
  padding: 0 8px;
}

.image img {
  width: 100%;
}


.modal-body {
  padding: 0;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: none !important;
  padding: 0 12px;
}

mat-card img {
  margin: 0 !important
}

mat-card {
  padding: 0;
}

mat-card-content {
  margin: 1rem;
}

mat-button-toggle-group {
  margin-bottom: 20px;
}