<main>
  <div class="container">
    <div class="row">
      <div class="btn-group-toggle text-center" data-toggle="buttons">
        <label class="btn btn-outline-primary">
          <input type="checkbox" name="options" id="option1" autocomplete="off" checked> ctive
        </label>
      </div>
    </div>

    <div class="row card-deck no-gutters">
      <div class="card col-6">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h4>
                Joker
                <small class="text-muted">October 2, 2019</small>
              </h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>