.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  grid-template-areas: "image text"
                       "info info";
  padding: 10px;
  overflow: auto;
  max-height: none;
  position: relative;
}

.image { 
  grid-area: image;
}

.image img {
  width: 100%;
}

.text {
  grid-area: text;
}

.info {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info h3, .text h3 {
  margin: 5px 0;
}

ul.list {
  padding: 0;
  margin: 0;
}

.list li {
  cursor: default;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 50px;
  margin-inline-start: 0;
  margin: 2px;
}

.text small {
  font-weight: 400;
  color: #555;
}

.text h4 {
  margin: 1rem 0;
}

#vote {
  position: absolute;
  right: 10px;
  /* top: 10px;  */
  margin: 0;
}