<div mat-dialog-content class="grid">
  <div class="image">
    <img *ngIf="data.posterPath; else default" src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{ data.posterPath }}">
    <ng-template #default><img height="100%" src="..\assets\default_image.jpg"></ng-template>
  </div>
  <div class="text">
    <h3 mat-dialog-title>
      {{ data.title }}
      <small>{{ data.releaseDate | date: 'longDate'}}</small>
    </h3>
    <h4 id="vote" *ngIf="data.voteAverage"> Vote Average - {{ data.voteAverage }} &#x2605; </h4>
    <h3>Overview</h3>
    <p *ngIf="data.overview; else noData"> {{ data.overview }} </p>
    <ng-template #noData> <p>No data</p> </ng-template>
    <div class="info">
      <div>
        <h3>Countries</h3>
        <ul class="list" *ngIf="data.overview; else noData">
          <li *ngFor="let c of data.productionCountries"> {{ c }} </li>
        </ul>
      </div>
      <div>
        <h3>Genres</h3>
        <ul class="list" *ngIf="data.overview; else noData">
          <li *ngFor="let g of data.genres"> {{ g }} </li>  
        </ul>
      </div>
      <div>
        <h3>Budget</h3> 
          <ul class="list" *ngIf="data.budget; else noData"> 
            <li>{{ data.budget | currency}}</li>
          </ul>
      </div>
      <div>
        <h3>Runtime</h3>
        <ul class="list" *ngIf="data.overview; else noData">
          <li>{{ data.runtime }} minutes</li>
        </ul>
      </div>
    </div>
  </div>
</div>